logs/*.log
/.vs/Warhammer40k_pinball/FileContentIndex
/.vs/Warhammer40k/FileContentIndex
/.vs/Warhammer40k/v17
/modes/attract/code/__pycache__
/.vs/slnx.sqlite
/.vs/VSWorkspaceState.json
/.vs/Warhammer40k_pinball/copilot-chat/409d2840/sessions
/.vs/Warhammer40k_pinball/CopilotIndices/17.14.719.50355
/.vs/VSWorkspaceState.json
/.vs/Warhammer40k_pinball/v17/.wsuo
/.vs/Warhammer40k_pinball/v17/DocumentLayout.backup.json
/.vs/Warhammer40k_pinball/v17/DocumentLayout.json
